.statistics {
  list-style: none;
  padding: 8px 0 16px 0;
  margin: 0;

  li {
    margin-bottom: 10px;

    span {
      &:first-child {
        display: inline-block;
        margin-right: 8px;
      }

      &:last-child {
        font-weight: bold;
      }
    }
  }
}
